<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="">Emergency Report System</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <router-link to="/user/dashboard" class="nav-link">My Reports</router-link>
                  </li>
                  <li class="nav-item">
                    <router-link to="/user/profile" class="nav-link">Profile</router-link>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="" v-on:click.prevent="logout">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </div>
</template>
<script>
import { mapActions } from 'vuex';

export default({
    name: 'UserNavbar',
    methods: {
    ...mapActions('auth', ['logoutAuthUser']),
    async logout(){
      const res = await this.logoutAuthUser()
      if(res.status == 200){
        this.$router.push('/')
        this.$toast.info('Logged out')
      }
    }
  },
})
</script>
<style scoped>
.navbar{
    background-color: #ced4da !important;
}
</style>

