<template>
    <div>
        <AdminNavbar/>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
                <div class="card tbl-card">
                    <div class="card-body text-center">
                        <h6 class="card-title">New Users</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Date Registered</th>
                                    <th scope="col">Account</th>
                                </tr>
                            </thead>
                            <tbody class="customtable">
                                <tr v-for="(user, i) in users" :key="i">
                                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                                    <td>{{ user.created_at }}</td>
                                    <td><span class="badge rounded-pill" :class="user.account_status == 'Not verified' ? 'bg-danger' : 'bg-success'">{{ user.account_status }}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card tbl-card">
                    <div class="card-body text-center">
                        <h6 class="card-title">Reports Summary</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Report Name</th>
                                    <th scope="col">Date Posted</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody class="customtable">
                                <tr v-for="(report, i) in reports" :key="i">
                                    <td class="text-center">{{report.report_title}}</td>
                                    <td class="text-center">{{report.created_at}}</td>
                                    <td class="text-center">
                                        <span class="badge rounded-pill" :class="report.report_status == 'Action needed' ? 'bg-danger' : 'bg-success'">
                                            {{report.report_status}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-4">
                <div class="card userCard h-100 mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="mb-4">Total User(s)</h5>
                                <h1>1,238</h1>
                            </div>
                            <div class="col-sm-4">
                                <i class="fas fa-user h-100 w-100 p-3 text-light"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card reportCard h-100 my-3">
                    <div class="card-body text-light">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="mb-4">Total Report(s)</h5>
                                <h1>3,224</h1>
                            </div>
                            <div class="col-sm-4">
                                <i class="fas fa-chart-bar h-100 w-100 p-3 text-light"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card pendingCard h-100 my-3">
                    <div class="card-body text-light">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="mb-4">Pending Report(s)</h5>
                                <h1>1,238</h1>
                            </div>
                            <div class="col-sm-4">
                                <i class="fas fa-clock h-100 w-100 p-3 text-light"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</template>
<script>
import AdminNavbar from '@/components/Navbar/AdminNav.vue'
import {mapState} from 'vuex'

export default({
    name: 'Dashboard', 
    components:{
        AdminNavbar
    },
    computed: {
        ...mapState('user', ['users', 'reports']),
    },
    async mounted() {
        await this.$store.dispatch('auth/checkAuthUser');
        await this.$store.dispatch('auth/checkUser');
        await this.$store.dispatch('user/getUser');
        await this.$store.dispatch('user/getAdminReport');
    },
    
})
</script>
<style scoped>
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

.userCard{
    max-height: 150px;
    top: 90px;
    background-image: linear-gradient(to right bottom, #30dc82, #51de81, #68e081, #7be282, #8be483, #8ee783, #91e982, #94ec82, #8af07f, #7ef37d, #70f77b, #5ffb7a);
    border: none;
}
.userCard h5, h1{
    color: white;
}

.reportCard{
    max-height: 150px;
    top: 106px;
    background-image: linear-gradient(to right bottom, #6430dc, #6746e0, #6b58e4, #7168e6, #7977e7, #7b7de9, #7d83eb, #7f89ec, #7989f0, #7188f3, #6988f7, #5f88fb);
    border: none;
}
.pendingCard{
    max-height: 150px;
    top: 120px;
    background-image: linear-gradient(to right bottom, #ff4444, #ff4649, #ff474e, #ff4953, #ff4b58, #fd4855, #fb4553, #f94250, #f43846, #f02e3b, #ea2230, #e51225);
    border: none;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.tbl-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    height: 100%;
    max-height: 510px;
    overflow: auto;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card .card-title {
    font-weight: 600;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th,
.table thead th {
    font-weight: 500;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table th,
.table thead th {
    font-weight: 500;
}

th {
    text-align: inherit;
}

.m-b-20 {
    margin-bottom: 20px;
}
</style>

