<template>
    <div>
        <AdminNavbar/>
        <div class="container-fluid">
            <div class="col-lg-10 mx-auto">
                <div class="card tbl-card h-100">
                    <div class="card-body text-center">
                        <h6 class="card-title">All Reports</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light text-center">
                                <tr>
                                    <th scope="col">Report Title</th>
                                    <th scope="col">Report</th>
                                    <th scope="col">Date Posted</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="customtable">
                                <tr v-for="(report, i) in reports" :key="i">
                                    <td class="text-center">{{report.report_title}}</td>
                                    <td>{{report.report_desc}}</td>
                                    <td class="text-center">{{report.created_at}}</td>
                                    <td class="text-center">
                                        <span class="badge rounded-pill" :class="report.report_status == 'Action needed' ? 'bg-danger' : 'bg-success'">
                                            {{report.report_status}}
                                        </span>
                                    </td>
                                    <td style='white-space: nowrap;' class="text-center">
                                        <button class="btn btn-success mx-2">Respond <i class="fas fa-check"></i></button>
                                        <button class="btn btn-danger" @click="deleteReport = report.id; $bvModal.show('deleteModal')"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <b-modal id="deleteModal" centered title="Confirm">
            <form action="" class="me-auto" >
                <p>Are you sure to delete this report?</p>
            </form>
            <template #modal-footer = {cancel} >
                <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
                <b-button size="sm" variant="danger" @click="destroyReport">
                    Delete Report
                </b-button>
            </template>
        </b-modal>
    </div>
</template>
<script>
import AdminNavbar from '@/components/Navbar/AdminNav.vue'
import {mapState} from 'vuex'

export default({
    name: 'Reports', 
    components:{
        AdminNavbar
    },
    data() {
        return {
            deleteReport: ''
        }
    },
    computed: {
        ...mapState('user', ['reports']),
    },
    async mounted() {
        await this.$store.dispatch('auth/checkUser');
        await this.$store.dispatch('user/getReport');
    },
    methods: {
        async destroyReport(){
            const res = await this.$store.dispatch('user/deleteReport', this.deleteReport)
            console.log(res)
            if(res.status == 200){
                this.$bvModal.hide('deleteModal')
                this.$toast.success('Report deleted successfully')
            } else {
                this.$toast.error('Something went wrong')
            }
        }
    },
})
</script>
<style scoped>

.tbl-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    top: 280px;
    height: 100% !important;
    max-height: 510px;
    overflow: auto;
    border: none;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card .card-title {
    font-weight: 600;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th,
.table thead th {
    font-weight: 500;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table th,
.table thead th {
    font-weight: 500;
}

th {
    text-align: inherit;
}

.m-b-20 {
    margin-bottom: 20px;
}
</style>

